<div class="backdrop is-hidden" id="ingredients-modal">
  <div class="ingredients-modal">
    <button class="modal__button-close close-button">
      <svg class="modal__button-close__icon">
        <use href="/img/icons/sprite.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title">Chololate icecream</h2>
    <img
      srcset="
        /img/ingredients-modal/ingredients.png    1x,
        /img/ingredients-modal/ingredients@2x.png 2x
      "
      src="#"
      alt="ice cream"
      class="ingredients-modal__img"
    />
    <ul class="ingredients-modal__substance__list">
      <li class="ingredients-modal__substance__item">
        <p class="ingredients-modal__substance__number">320</p>
        <p class="ingredients-modal__substance__text">kcal</p>
      </li>
    </ul>
  </div>
</div>
