<div class="backdrop is-hidden" id="product-modal">
  <div class="product-modal">
    <button class="modal__button-close close-button">
      <svg class="modal__button-close__icon">
        <use href="/img/icons/sprite.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title product-modal__title">Chololate icecream</h2>
    <img
      srcset="
        /img/product-modal/ingredients.png    1x,
        /img/product-modal/ingredients@2x.png 2x
      "
      src="#"
      alt="ice cream"
      class="product-modal__img"
    />
    <ul class="product-modal__substance__list">
      <li class="product-modal__substance__item">
        <p class="product-modal__substance__number">320</p>
        <p class="product-modal__substance__text">kcal</p>
      </li>
      <li class="product-modal__substance__item">
        <p class="product-modal__substance__number">4g</p>
        <p class="product-modal__substance__text">Prote...</p>
      </li>
      <li class="product-modal__substance__item">
        <p class="product-modal__substance__number">8,2g</p>
        <p class="product-modal__substance__text">Fats</p>
      </li>
      <li class="product-modal__substance__item">
        <p class="product-modal__substance__number">40,4g</p>
        <p class="product-modal__substance__text">Carbs</p>
      </li>
    </ul>
    <h3 class="product-modal__subtitle">Ingredients</h3>
    <ul class="product-modal__ingredients__list">
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Milk</p>
        <p class="product-modal__ingredients__text">100ml</p>
      </li>
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Belgian chocolate</p>
        <p class="product-modal__ingredients__text">20g</p>
      </li>
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Cream</p>
        <p class="product-modal__ingredients__text">150 ml</p>
      </li>
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Cocoa powder</p>
        <p class="product-modal__ingredients__text">30g</p>
      </li>
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Sugar</p>
        <p class="product-modal__ingredients__text">40g</p>
      </li>
      <li class="product-modal__ingredients__item">
        <p class="product-modal__ingredients__text">Vanilla sugar</p>
        <p class="product-modal__ingredients__text">10g</p>
      </li>
    </ul>
    <form class="buy-now-modal__from">
      <input
        type="text"
        class="buy-now-modal__form__input"
        placeholder="Name"
      />
      <input
        type="tel"
        class="buy-now-modal__form__input"
        placeholder="Phone"
      />
      <textarea
        class="buy-now-modal__form__textarea"
        name="comment"
        placeholder="Comment"
        rows="4"
      ></textarea>
      <button class="buy-now-modal__button" type="submit">Submit</button>
    </form>
  </div>
</div>
