<div class="backdrop is-hidden" id="read-more-modal">
  <div class="read-more-modal">
    <button class="modal__button-close close-button">
      <svg class="modal__button-close__icon">
        <use href="/img/icons/sprite.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <div class="read-more-modal__video"></div>
    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
