.franchise-modal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 280px;
    height: 674px;

    border-radius: 10px;
    border: 2px solid #F8D24E;
    background-color: #FCFCFC;
    padding: 28px;

    transition: transform var(--animation);
}

.franchise-modal__text {
    color: #131313;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}

.franchise-modal__from {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.franchise-modal__form__input,
.franchise-modal__form__textarea {
    width: 224px;
    border-radius: 10px;
    border: 1px solid #84A178;
    background-color: rgba(248, 210, 78, 0.10);
    padding: 8px 12px;
}

.franchise-modal__form__input::placeholder,
.franchise-modal__form__textarea::placeholder {
    color: #131313;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.franchise-modal__form__textarea {
    resize: none;
}

.franchise-modal__button {
    color: #131313;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #F8D24E;
    padding: 12px 34px;
    margin-top: 12px;
}

/* WIDTH 768 */
@media screen and (min-width: 768px) {
    .franchise-modal {
        width: 568px;
        height: 668px;
        padding: 32px 60px;
    }

    .franchise-modal__text {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .franchise-modal__from {
        gap: 16px;
    }

    .franchise-modal__form__input,
    .franchise-modal__form__textarea {
        width: 368px;
        padding: 11px 16px;
    }

    .franchise-modal__form__input::placeholder,
    .franchise-modal__form__textarea::placeholder {
        font-size: 14px;
    }

    .franchise-modal__button {
        font-size: 14px;
        margin-top: 16px;
    }
}