<header class="header">
  <div class="container">
    <a href="" class="header__logo">
      <svg class="header__logo__icon">
        <use href="/img/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">Home</a>
        </li>
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">How it’s made?</a>
        </li>
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">Our products</a>
        </li>
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__burger__button">
      <svg class="header__burger__button__icon">
        <use href="/img/icons/sprite.svg#icon-burger-btn"></use>
      </svg>
    </button>
    <button type="button" class="header__button">
      Buy now
      <svg class="header__button__icon">
        <use href="/img/icons/sprite.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</header>
