<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--sized">passion</span>
    </h1>
    <div class="hero__links__thumb">
      <a href="#" class="hero__products__link">Products</a>
      <a href="#" class="hero__how-made__link">How it’s made?</a>
    </div>
    <div class="hero__content__image__thumb">
      <img
        srcset="
          /img/hero/ice-cream-plate.png    1x,
          /img/hero/ice-cream-plate@2x.png 2x
        "
        src="#"
        alt="ice cream plate"
        class="hero__content__image"
      />
      <div class="hero__content__thumb">
        <p class="hero__content__text">
          Indulge in a scoop of ice cream made with passion and treat your taste
          buds to an unforgettable experience!
        </p>
        <a href="#" class="hero__content__link">
          <svg class="hero__content__link__icon">
            <use href="/img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__statistics__thumb">
      <div>
        <p class="hero__statistics__number">16</p>
        <p class="hero__statistics__text">cafes</p>
      </div>
      <div>
        <p class="hero__statistics__number">23</p>
        <p class="hero__statistics__text">food trucks</p>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/hero-main-desktop.png    1x,
          /img/hero/hero-main-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /img/hero/hero-main-tablet.png    1x,
          /img/hero/hero-main-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/hero-main-mobile.png    1x,
          /img/hero/hero-main-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img class="hero__main__img" src="#" alt="ice cream" />
    </picture>
    <picture>
      <source srcset="/img/hero/dots-desktop.png" media="(min-width: 1200px)" />
      <source srcset="/img/hero/dots-tablet.png" media="(min-width: 768px)" />
      <source srcset="/img/hero/dots-mobile.png" media="(max-width: 767px)" />
      <img class="hero__dots__img" src="#" alt="ice cream" />
    </picture>
  </div>
</section>
