<section class="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__card-list">
      <li class="products__card-item">
        <img
          srcset="
            /img/products/products-ice-cream.png    1x,
            /img/products/products-ice-cream@2x.png 2x
          "
          src="#"
          alt="ice cream"
          class="products__card-img"
        />
        <h3 class="products__card-title">ice cream</h3>
        <p class="products__card-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <svg class="products__card-icon">
          <use href="/img/icons/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
