<section class="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__card-list">
      <li class="products__card-item" data-aos="fade-up">
        <img
          srcset="
            /img/products/products-ice-cream.png    1x,
            /img/products/products-ice-cream@2x.png 2x
          "
          src="#"
          alt="ice cream"
          class="products__card-img"
        />
        <div>
          <h3 class="products__card-title">ice cream</h3>
          <p class="products__card-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>

        <a href="" class="products__card-link">
          <svg class="products__card-icon">
            <use href="/img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__card-item" data-aos="fade-up">
        <img
          srcset="
            /img/products/products-ice-coffee.png    1x,
            /img/products/products-ice-coffee@2x.png 2x
          "
          src="#"
          alt="ice coffee"
          class="products__card-img"
        />
        <div>
          <h3 class="products__card-title">ice coffee</h3>
          <p class="products__card-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <a href="" class="products__card-link">
          <svg class="products__card-icon">
            <use href="/img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__card-item" data-aos="fade-up">
        <img
          srcset="
            /img/products/products-milkshakes.png    1x,
            /img/products/products-milkshakes@2x.png 2x
          "
          src="#"
          alt="milkshakes"
          class="products__card-img"
        />
        <div>
          <h3 class="products__card-title">milkshakes</h3>
          <p class="products__card-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <a href="" class="products__card-link">
          <svg class="products__card-icon">
            <use href="/img/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
